* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  .logo {
    display: inline-block;
    margin: 0 auto;
    font-family: 'PT Mono', monospace;
    font-weight: 900;
    font-size: 38px;
    padding: 50px 0;
  }

  .keyboard {
    .line {
      display: flex;

      div {
        width: 49px;
        height: 49px;
        line-height: 42px;
        font-size: 15px;
        border: 1px solid #c7d0d4;
        background: #fff;
        margin: 1px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        &.hint {
          background: #c7d0d4;
        }
      }

      .backspace,
      .tab,
      .caps,
      .enter,
      .shift,
      .space,
      .alt {
        font-size: 10px;
        color: #95a0a4;
      }

      .backspace {
        width: 75px;
        text-align: right;
      }

      .tab {
        width: 75px;
        text-align: left;
      }

      .caps {
        width: 87px;
        text-align: left;
      }

      .enter {
        width: 88px;
        text-align: right;
      }

      .shift {
        width: 113px;
        text-align: left;

        &:last-child {
          text-align: right;
        }
      }

      .space {
        margin-left: auto;
        width: 312px;
        text-align: right;
      }

      .alt {
        width: 88px;
        text-align: right;
        margin-right: auto;
      }
    }
  }
}

.results-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'PT Mono', monospace;
  margin-bottom: 15px;
  font-weight: 600;
  color: #5C8DCB;
}

.indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  margin-bottom: 35px;
  padding-left: 5px;
  padding-right: 5px;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  width: -o-fit-content;

  .indicator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
    font-size: 12px;
    font-family: 'PT Mono', monospace;
    border-right: 1px solid #D9D9D9;
    padding: 10px;

    &:last-child {
      border-right: none;
    }

    &__icon {
      margin-right: 5px;
    }

    &__icon {
      color: #0070ff;
    }

    &__icon--errors {
      color: #e50909;
    }
  }
}

.input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
  border: 3px solid transparent;
  border-bottom: 1px dotted #000;
  outline: none;
  font-family: 'PT Mono', monospace;
  font-size: 18px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;

  .blur {
    border: 3px solid black;
  }

  .error {
    background-color: #FFF000;
  }
}

.text {
  font-family: 'PT Mono', monospace;
  font-size: 18px;
  margin-bottom: 35px;

  .line {
    height: 1.5em;
    margin-bottom: 1px;
  }

  .done {
    color: #D9D9D9;
  }

  .hint {
    background-color: #FFF000;
  }

  .error {
    color: #FF0000;
  }
}

.devider {
  border-top: 1px solid #EEE;
  padding-bottom: 30px;
}